In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np

In [2]:
%matplotlib inline

In [8]:
def read_and_clean(name):
    name1 = name +".csv"
    dateparse = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')
    data = pd.read_csv(name1, parse_dates=['Дата'], decimal=',')
    #data.drop(['Open','High','Low', 'Change %', 'Vol.'], axis=1, inplace=True)
    data.sort_values(by=['Дата'], inplace=True, ascending=True)
    data['Цена'] = data['Цена'].astype('float')
    #data['Доходность'] = data['Цена'].pct_change()*100
    #data['Лог доходность'] = np.log(data['Цена']/data['Цена'].shift(1))*100
    #data.dropna(inplace=True)
    #data.drop('Return', axis=1, inplace=True)
    #print(name,len(data))
    #data.to_csv("imoex/"+name+"_clean.csv")
    return data

In [1]:
data_ofz = pd.('data/OFZ_den_2013_2021')

NameError: name 'read_and_clean' is not defined

In [11]:
data_ofz.drop(['Откр.', 'Макс.', 'Мин.', 'Изм. %'], axis=1, inplace=True)

In [13]:
data_ofz.to_excel('data/OFZ_den_2013_2021_clean.xls')

In [36]:

data_akfs = read_and_clean("data/AFKS_den_2013_2021") #2010
data_aflt = read_and_clean("data/AFLT_den_2013_2021") #2010
data_alrs = read_and_clean("data/ALRS_den_2013_2021") #2010
data_sber = read_and_clean("data/SBER_den_2013_2021") #2010
data_chmf = read_and_clean("data/CHMF_den_2013_2021") #2010
data_fees = read_and_clean("data/FEES_den_2013_2021") #2010
data_gazp = read_and_clean("data/GAZP_den_2013_2021") #2010
data_gmkn = read_and_clean("data/GMKN_den_2013_2021") #2010
data_hydr = read_and_clean("data/HYDR_den_2013_2021") #2010
data_irao = read_and_clean("data/IRAO_den_2013_2021") #2010 исправлены
data_lkoh = read_and_clean("data/LKOH_den_2013_2021") #2010
data_lsrg = read_and_clean("data/LSRG_den_2013_2021") #2010
data_magn = read_and_clean("data/MAGN_den_2013_2021") #2010
data_mgnt = read_and_clean("data/MGNT_den_2013_2021") #2010
#data_moex = read_and_clean("data/MOEX_den_2013(feb)_2021")
data_mtss = read_and_clean("data/MTSS_den_2013_2021") #2010
data_nlmk = read_and_clean("data/NLMK_den_2013_2021") #2010
data_nvtk = read_and_clean("data/NVTK_den_2013_2021") #2010
data_phor = read_and_clean("data/PHOR_den_2013_2021") #2010
data_pikk = read_and_clean("data/PIKK_den_2013_2021") #2010
data_plzl = read_and_clean("data/PLZL_den_2013_2021") #2010
data_rosn = read_and_clean("data/ROSN_den_2013_2021") #2010
data_rsti = read_and_clean("data/RSTI_den_2013_2021") #2010
data_rtkm = read_and_clean("data/RTKM_den_2013_2021") #2010
data_sber = read_and_clean("data/SBER_den_2013_2021") #2010
data_sngs = read_and_clean("data/SNGS_den_2013_2021") #2010
data_trnf = read_and_clean("data/TRNF_p_den_2013_2021") #2010
data_upro = read_and_clean("data/UPRO_den_2013_2021") #2010
data_vtbr = read_and_clean("data/VTBR_den_2013_2021") #2010

data/AFKS_den_2013_2021 2009
data/AFLT_den_2013_2021 2010
data/ALRS_den_2013_2021 2009
data/SBER_den_2013_2021 2009
data/CHMF_den_2013_2021 2010
data/FEES_den_2013_2021 2009
data/GAZP_den_2013_2021 2009
data/GMKN_den_2013_2021 2009
data/HYDR_den_2013_2021 2009
data/IRAO_den_2013_2021 1991
data/LKOH_den_2013_2021 2009
data/LSRG_den_2013_2021 2009
data/MAGN_den_2013_2021 2009
data/MGNT_den_2013_2021 2009
data/MTSS_den_2013_2021 2000
data/NLMK_den_2013_2021 2009
data/NVTK_den_2013_2021 2009
data/PHOR_den_2013_2021 2008
data/PIKK_den_2013_2021 2009
data/PLZL_den_2013_2021 2009
data/ROSN_den_2013_2021 2009
data/RSTI_den_2013_2021 2009
data/RTKM_den_2013_2021 1999
data/SBER_den_2013_2021 2009
data/SNGS_den_2013_2021 2009
data/TRNF_p_den_2013_2021 2009
data/UPRO_den_2013_2021 2009
data/VTBR_den_2013_2021 2009

In [8]:
pd.set_option('display.max_rows', data_irao.shape[0]+1)

In [71]:
#data_irao.plot(x='Date',y='Price', figsize=(14, 10)) #an evidence that data is not stationary
#data_irao.plot(x='Date',y='Log_return', figsize=(14, 10)) #an evidence that data is not stationary

In [93]:
def resize(name):
    import pandas as pd
    name_to_read = "data/"+name+".csv"
    data = pd.read_csv(name_to_read, parse_dates=['Date'], decimal='.', thousands=',')
    data_aflt = pd.read_csv("data/AFLT_den_2013_2021_clean.csv", parse_dates=['Date'], decimal='.', thousands=',')
    print(name, len(data))
    result = data_aflt.merge(data, on='Date', how="left", suffixes=('_aflt' , ''))
    result.fillna(0,inplace=True)
    result.drop('Log_return_aflt', axis=1, inplace=True)
    result.drop('Unnamed: 0', axis=1, inplace=True)
    result.drop('Unnamed: 0_aflt', axis=1, inplace=True)
    name_to_write = "data/"+name+"1.csv"
    result.to_csv(name_to_write)
    name_to_read = "data/"+name+"1.csv"
    answer = pd.read_csv(name_to_read, parse_dates=['Date'], decimal='.', thousands=',')
    print(len(answer))

In [121]:
resize("VTBR_den_2013_2021_clean")

VTBR_den_2013_2021_clean 2009
2010

data/FEES_den_2013_2021 2009
data/GAZP_den_2013_2021 2009
data/GMKN_den_2013_2021 2009
data/HYDR_den_2013_2021 2009
data/IRAO_den_2013_2021 1991
data/LKOH_den_2013_2021 2009
data/LSRG_den_2013_2021 2009
data/MAGN_den_2013_2021 2009
data/MGNT_den_2013_2021 2009
data/MTSS_den_2013_2021 2000
data/NLMK_den_2013_2021 2009
data/NVTK_den_2013_2021 2009
data/PHOR_den_2013_2021 2008
data/PIKK_den_2013_2021 2009
data/PLZL_den_2013_2021 2009
data/ROSN_den_2013_2021 2009
data/RSTI_den_2013_2021 2009
data/RTKM_den_2013_2021 1999
data/SBER_den_2013_2021 2009
data/SNGS_den_2013_2021 2009
data/TRNF_p_den_2013_2021 2009
data/UPRO_den_2013_2021 2009
data/VTBR_den_2013_2021 2009

In [15]:
ofz = pd.read_csv("data/OFZ_den_2013_2021.csv", parse_dates=['Дата'], sep=',', decimal=',')

In [29]:
ofz

           Date  Price
0    2020-12-30   5.91
1    2020-12-29   5.93
2    2020-12-28   5.97
3    2020-12-25   5.93
4    2020-12-24   5.99
...         ...    ...
2115 2013-10-01   6.44
2116 2013-09-01   6.61
2117 2013-08-01   6.91
2118 2013-03-01   6.85
2119 2013-01-01   6.85

[2120 rows x 2 columns]

In [26]:
ofz.drop(['Изм. %','Откр.', 'Макс.', 'Мин.'], axis=1, inplace=True)

In [28]:
ofz.rename(columns = {"Цена":"Price", "Дата":"Date"}, inplace=True)

In [30]:
ofz.sort_values(by=['Date'], inplace=True, ascending=True)

In [ ]:
ofx['Log_return'] = np.log(ofz['Price']/ofz['Price'].shift(1))*100

In [32]:
ofz.to_excel("data/OFZ_den_2013_2021_clean.xls")

In [33]:
data_aflt = pd.read_csv("data/AFLT_den_2013_2021_clean.csv", parse_dates=['Date'], decimal='.', thousands=',')

In [34]:
data_merged = data_aflt.merge(ofz, on='Date', how="left")

In [156]:
data_merged['Price'].fillna((data_merged['Price'].mean()), inplace=True)

In [37]:
data_merged

           Date  Price
0    2013-01-09   7.71
1    2013-01-10   7.32
2    2013-01-11   7.25
3    2013-01-14   6.52
4    2013-01-15   6.62
...         ...    ...
2005 2020-12-24   5.99
2006 2020-12-25   5.93
2007 2020-12-28   5.97
2008 2020-12-29   5.93
2009 2020-12-30   5.91

[2010 rows x 2 columns]

In [36]:
data_merged.drop('Unnamed: 0', axis=1, inplace=True)
data_merged.drop('Log_return', axis=1, inplace=True)

In [39]:
data_merged.to_excel("data/OFZ_den_2013_2021_clean.xls")

In [6]:
data_imoex = read_and_clean('imoex_den_2013_2021')

imoex_den_2013_2021 2010

In [7]:
data_clean = pd.read_csv('imoex/imoex_den_2013_2021_clean.csv')

In [8]:
data_clean

      Unnamed: 0        Date    Return  Log_return
0           2009  2013-01-08  2.500220    2.469476
1           2008  2013-01-09  0.078557    0.078526
2           2007  2013-01-10 -0.583769   -0.585480
3           2006  2013-01-11  0.244168    0.243870
4           2005  2013-01-14  1.167562    1.160799
...          ...         ...       ...         ...
2005           4  2020-12-24 -0.468005   -0.469104
2006           3  2020-12-25  0.292566    0.292139
2007           2  2020-12-28  0.388128    0.387377
2008           1  2020-12-29  0.482364    0.481204
2009           0  2020-12-30  0.438212    0.437255

[2010 rows x 4 columns]